.parent{
    position: relative;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    opacity: 0.7;
 
   
}

.child{
    width: 750px;
    position: absolute;
    top: 150px;
    left: 300px;
    height: 350px;
    background-color: white;
    border-radius: 30px;
    z-index: 200px;
}